@model E_TicaretOtomasyonu.Models.TBLADRESLER
<label>Adres Adı: </label>
<div class="mb-1">
    <input type="text" placeholder="Adres Adı" class="form-control" value="@Model.AdresAdi" id="AdresAdi" />
</div>

<label>Adres: </label>
<div class="mb-1">
    <input type="text" placeholder="Adres" class="form-control" value="@Model.AdresAciklama" id="Adres" />
</div>
<label>Apartman No: </label>
<div class="mb-1">
    <input type="text" placeholder="Apartman No" class="form-control" value="@Model.ApartmanNo" id="ApartNo" />
</div>
<label>Ev No: </label>
<div class="mb-1">
    <input type="text" placeholder="Ev No" class="form-control" value="@Model.EvNo" id="EvNo" />
</div>
<label>Şehir: </label>
<div class="mb-1">
    <input type="text" placeholder="Şehir" class="form-control" value="@Model.Sehir" id="Sehir" />
</div>
<label>Ülke: </label>
<div class="mb-1">
    <input type="text" placeholder="Ülke" class="form-control" value="@Model.Ulke" id="Ulke" />
</div>