@model E_TicaretOtomasyonu.Models.TBLKULLANICILAR
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="background-color: #eee;">
    <div class="container py-5" style="max-width: 1500px;">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                        <li class="breadcrumb-item" aria-current="page">@Model.KullaniciAdi</li>
                        <li class="breadcrumb-item active" aria-current="page">Profil Detayları</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="~/Content/img/user.png" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.KullaniciAdi</h5>
                        <p class="text-muted mb-1">@Model.KullaniciRol</p>
                        <p class="text-muted mb-4">@Model.KullaniciMail</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0" style="color:black; important">Ad Soyad</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.KullaniciAdi</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0" style="color:black; important">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.KullaniciMail</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0" style="color:black; important">Telefon Numarası</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.KullaniciTel</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0" style="color:black; important">İşlemlerim</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="button" name="KullaniciDuzenle" value="Bilgilerimi Düzenle" class="btn btn-success" onclick="KullaniciDuzenle(@Session["ID"])" />
                                <input type="button" name="AdresEkle" value="Adres Ekle" class="btn btn-secondary" onclick="AdresModal()" />
                            </div>
                            
                        </div>
                        <hr>
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="KullaniciDuzenle">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <input type="text" name="name" id="KullanıcıDuzenleID" value="" hidden />
                                <h5 class="modal-title">Bilgilerim</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="Partial">
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="KullaniciGuncelle()">Değişiklileri Kaydet</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="AdresDuzenleModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <input type="text" name="name" id="AdresDuzenleID" value="" hidden />
                                <h5 class="modal-title">Adres Düzenle</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="AdresDuzenleData">
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="AdresGuncelle()">Değişiklileri Kaydet</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal" tabindex="-1" role="dialog" id="AdresEkle">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <input type="text" name="name" id="KullaniciID" value="@Session["ID"]" hidden />
                                <h5 class="modal-title">Adres Ekle</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label>Adres Adı: </label>
                                <div class="mb-1">
                                    <input type="text" placeholder="Adres Adı" class="form-control" id="AdresName" />
                                </div>
                                <label>Adres: </label>
                                <div class="mb-1">
                                    <input type="text" placeholder="Adres" class="form-control" id="Adress" />
                                </div>
                                <label>Apartman No: </label>
                                <div class="mb-1">
                                    <input type="text" placeholder="Apartman No" class="form-control" id="ApartmanNo" />
                                </div>
                                <label>Ev No: </label>
                                <div class="mb-1">
                                    <input type="text" placeholder="Ev No" class="form-control" id="Evno" />
                                </div>
                                <label>Şehir: </label>
                                <div class="mb-1">
                                    <input type="text" placeholder="Şehir" class="form-control" id="Sehirr" />
                                </div>
                                <label>Ülke: </label>
                                <div class="mb-1">
                                    <input type="text" placeholder="Ülke" class="form-control" id="Ulkee" />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" onclick="AdresEkle()">Kaydet</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th>Adres Adı</th>
                                    <th>Adres</th>
                                    <th>Şehir</th>
                                    <th>Ülke</th>
                                    <th>Ev No</th>
                                    <th>Apartman No</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.Adreslerim)
                                {
                                    <tr>
                                        <td>
                                            <span class="fw-bold">@item.AdresAdi</span>
                                        </td>
                                        <td>
                                            <p style="width: 70px; height: 40px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color:black; important">@item.AdresAciklama </p>
                                        </td>
                                        <td>@item.Sehir</td>
                                        <td>@item.Ulke</td>
                                        <td>@item.EvNo</td>
                                        <td>@item.ApartmanNo</td>
                                        <td>
                                            <a><span onclick="AdresDuzenle(@Session["ID"])"><i class="fa fa-edit"></i></span></a><a><span style="margin-left: 20px" onclick="AdresSil(@item.ID)"><i class="fa fa-trash-o"></i></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function KullaniciDuzenle(ID) {
        getValue("Profil/KullaniciDuzenleme",
            { ID: ID },
            function (data, err) {
                if (!data) {
                    return;
                } else {
                    $('#Partial').html(data);
                    $('#KullaniciDuzenle').modal('show');
                    $('#KullanıcıDuzenleID').val(ID);
                }
            })

    };
    function KullaniciGuncelle() {
        getValue("Profil/KullaniciGuncelle",
            { KullaniciAdi: $('#KullaniciAdi').val(), KullaniciMail: $('#KullaniciMail').val(), ID: $('#KullanıcıDuzenleID').val(), KullaniciTel: $('#KullaniciTel').val()},
                function (data, err) {
                    if (!data) {
                        return;
                    } else if (data == 'Başarılı') {
                        location.href = '@Url.Action("Index", "Profil")';
                    }
                    else if (data.indexOf('Hata') > -1) {
                        alert(data)
                    }
                })
    };
    function AdresModal() {
        $('#AdresEkle').modal('show');
    }
    function AdresEkle() {
        //if ($('#AdresName').val(), $('#Adres').val(), $('#ApartNo').val(), $('#EvNo').val(), $('#Sehir').val(), $('#Ulke').val() == "") {
        //        alert("Lütfen Boş geçmeyiniz.");
        //        return;
        //    }
        console.log(KullaniciID)
        getValue("Profil/AdresEkle",
            { KullaniciID: $('#KullaniciID').val(), AdresAdi: $('#AdresName').val(), Adres: $('#Adress').val(), ApartNo: $('#ApartmanNo').val(), EvNo: $('#Evno').val(), Sehir: $('#Sehirr').val(), Ulke: $('#Ulkee').val()},
                function (data, err) {
                    if (!data) {
                        return;
                    } else if (data == 'Başarılı') {
                        location.href = '@Url.Action("Index", "Profil")';
                    }
                    else if (data.indexOf('Hata') > -1) {
                        alert(data)
                    }
                });
        };
    function AdresDuzenle(ID) {
        getValue("Profil/AdresDuzenleme",
            { ID: ID },
            function (data, err) {
                if (!data) {
                    return;
                } else {
                    $('#AdresDuzenleData').html(data);
                    $('#AdresDuzenleModal').modal('show');
                    $('#AdresDuzenleID').val(ID);
                }
            })

    };
    function AdresGuncelle() {
        getValue("Profil/AdresGuncelle",
            { AdresAdi: $('#AdresAdi').val(), Adres: $('#Adres').val(), ID: $('#AdresDuzenleID').val(), ApartNo: $('#ApartNo').val(), EvNo: $('#EvNo').val(), Sehir: $('#Sehir').val(), Ulke: $('#Ulke').val()},
                function (data, err) {
                    if (!data) {
                        return;
                    } else if (data == 'Başarılı') {
                        location.href = '@Url.Action("Index", "Profil")';
                    }
                    else if (data.indexOf('Hata') > -1) {
                        alert(data)
                    }
                })
    };
     function AdresSil(ID) {
         getValue("Profil/AdresSil",
                { ID: ID },
                function (data, err) {
                    if (!data) {
                        return;
                    } else if (data == 'Başarılı') {
                        location.href = '@Url.Action("Index", "Profil")';
                    }
                    else if (data.indexOf('Hata') > -1) {
                        alert(data)
                    }
                });
        };
</script>

