@using E_TicaretOtomasyonu.Models
@model TBLURUNLER
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="input-group-basic">
    <div class="row">
        <!-- Basic -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Ürün Ekle</h4>
                </div>
                <div class="card-body">
                    <form action="~/MagazaUrunDuzenle/UrunGuncelle" method="post" enctype="multipart/form-data">

                        <label class="form-label">Ürün Resmi</label>
                        <div class="input-group mb-2">
                            <div class="image-preview">
                                @if (Model.ImageURL != "0")
                                {
                                    <img class="img-responsive img-thumbnail" id="Resim" src="@Model.ImageURL" style="width: 352px; height: 200px;" />
                                }
                                else
                                {
                                    <img class="img-responsive img-thumbnail" id="Resim" src="~/Content/img/yok.png" style="width: 352px; height: 200px;" />
                                }
                            </div>
                        </div>
                        <div class="input-group mb-2">
                            <input type="file" id="SelectImage" style="display: none" name="ImageURL" />
                            <input type="button" class="btn btn-secondary waves-effect waves-float waves-light" value="Resim Ekle" id="AddImage" />
                        </div>
                        <label class="form-label">Ürün Adı</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="Ürün Adı" name="UrunAdi" aria-label="Ürün Adı" value="@Model.UrunAdi" />
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-text">&#8378;</span>
                            <input type="text" class="form-control" placeholder="100" name="Fiyat" aria-label="Amount (to the nearest dollar)" value="@Model.Fiyat" />
                            <span class="input-group-text">.00</span>
                        </div>
                        <label class="form-label">Ürün Stok Adeti</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="1" name="StokAdeti" aria-label="1" value="@Model.StokAdeti" />
                        </div>
                        <label class="form-label">Ürün Kategorisi</label>
                        <div class="input-group mb-2">
                            @*@Html.DropDownListFor(model => model.CategoryID, (List<SelectListItem>)ViewBag.Categorys, new { @class = "form-control" })*@
                            @Html.DropDownListFor(m => m.KategoriID, (List<SelectListItem>)ViewBag.Categorys, new { @class = "form-control", @name = "KategoriID"})
                            <input type="hidden" name="MagazaID" value="@Session["ID"]" />
                        </div>
                        <label class="form-label">Ürün Markası</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="Ürün Markası" name="Marka" aria-label="Ürün Markası" value="@Model.Marka" />
                        </div>
                        <label class="form-label">Ürün Kısa Açıklaması</label>
                        <div class="input-group mb-2">
                            <input type="text" class="form-control" placeholder="Ürün Kısa Açıklaması" name="KisaAciklama" aria-label="Ürün Kısa Açıklaması" value="@Model.KisaAciklama" />
                        </div>
                        <div class="input-group">
                            <span class="input-group-text">Ürün Açıklaması</span>
                            <textarea class="form-control" aria-label="With textarea" name="Aciklama">@Model.Aciklama</textarea>
                        </div>
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <div class="input-group">
                            <button class="btn btn-primary" type="submit">Kaydet</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Adjs{
    <script>
        $('#AddImage').click(function () {
            $('#SelectImage').click();
        });

        $('#AddImage').click(function () {
            var imgElement = $(this).find("img").first();
            if (imgElement.length) {
                var fullPath = imgElement.attr('src');
                console.log(fullPath);
            }
        });
        $(function () {
            jQuery.browser = {};
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
            $("#SelectImage").change(function () {
                $(".image-preview").html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                if (regex.test($(this).val().toLowerCase())) {
                    if ($.browser.msie && parseFloat(jQuery.browser.version) <= 9.0) {
                        $(".image-preview").show();
                        $(".image-preview")[0].filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = $(this).val();
                    }
                    else {
                        if (typeof (FileReader) != "undefined") {
                            $(".image-preview").show();
                            $(".image-preview").append("<img style= width:24.92rem;height:13.92rem;margin-top:50; />");
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                $(".image-preview img").attr("src", e.target.result);
                            }
                            reader.readAsDataURL($(this)[0].files[0]);
                        } else {
                            alert("This browser does not support FileReader.");
                        }
                    }
                } else {
                    alert("Please upload a valid image file.");
                }
            });
        });
    </script>
}


